<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-title class="title-size">
      Questionnaire
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-background" [fullscreen]="true">

  @switch (navigationState[navigationStateIndex]) {
    @case ('plateform') {
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle class="white-text size ion-text-center">Sélectionner vos plateformes</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
    
            @for (provider of providers; track provider.id) {
              <ion-item>
                <ion-thumbnail slot="start">
                  <img alt="Silhouette of mountains" [src]="'https://image.tmdb.org/t/p/original'+provider.logo_path" />
                </ion-thumbnail>
                <ion-checkbox (click)="appendPlatform(provider)">{{provider.provider_name}}</ion-checkbox>
              </ion-item>
            }
      
          </ion-list>  
        </ion-card-content>
      </ion-card>
  
    }
    @case ('genre') {
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle class="white-text size ion-text-center">Sélectionner vos genres</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
    
            @for (genre of genres; track genre.id) {
              <ion-item>
                <ion-checkbox (click)="appendGenre(genre)">{{genre.content}}</ion-checkbox>
              </ion-item>
            }
      
          </ion-list>  
        </ion-card-content>
      </ion-card>
  
    }
  }

</ion-content>
